<?xml version='1.0' encoding='utf-8'?>

        <widget id="com.phonegap.notificationtest1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
            <name>notificationtest1</name>
            <description>
             notificationtest1
            </description>
            <author email="support@phonegap.com" href="http://phonegap.com">
                sqlchild
            </author> 


                <preference name="android-minSdkVersion" value="17" /> 

                <preference name='phonegap-version' value='cli-8.0.0' />

                <preference name='pgb-builder-version' value='2' />



            <plugin name="cordova-plugin-splashscreen" source="npm" spec="5.0.2"/>  
 

 
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			<!-- for notification via PUSH PLUGIN : json file is needed, push plugin is needed , firebase key is needed and it works, firebase plugin is not needed -->
			
			
			
                <hook src="scripts/cordova-google-services-version-gradle-fix.js" type="before_prepare" />


                <platform name="android">

                    <!-- <framework src="com.google.android.gms:play-services-gcm:+" /> -->
                    <!-- <framework src="com.google.android.gms:play-services-gcm:11.8.0" /> -->
                    <framework src="com.google.android.gms:play-services-gcm:11.6.2" />

                    <!-- <framework src="com.android.support:support-v4:+" /> -->
                    <!-- <framework src="com.android.support:support-v4:11.8.0" /> -->
                    <framework src="com.android.support:support-v4:11.6.2" />

                </platform>


        <plugin name="phonegap-plugin-push" spec="2.1.3">   
				<param name="SENDER_ID" value="1:779326446252:android:e0cccb2f02246ec2" />
        </plugin> 

        <plugin name="cordova-android-play-services-gradle-release">   
				<param name="PLAY_SERVICES_VERSION" value="10.+" />
        </plugin> 

		<!-- 	
            <plugin name="cordova-plugin-googleplus" source="npm" spec="5.3.0"></plugin>  
	     -->   
		<plugin spec="https://github.com/edufruit/cordova-plugin-googleplus" />

			<platform name="android">   

                <resource-file src="app/google-services.json" target="app/google-services.json" />  

            </platform>      


            <content src="index.html" />

</widget>